<!-- views/partials/body.ejs  -->
<!-- This file contains the body of the application, it holds the menu bar, the data display
	and button accordion. Step 3. -->
    
    <!-- Interface Design begins here:-->
	<section class="interface">
		
		<!-- Colored square used to indicate size - remove after devel-->
		<div class="SIZE"></div>


		<!-- modals  -->
		<%- include ('modals') %>
		
		<!-- Search and display options at the top of the interface-->
		<!-- calling the display menu  -->
		<%- include ('menu') %>

		<!-- bottom panel -->
		<div id="displayAndAccordionContainer">
			<div id="dataDisplay">
                <!-- calling the datadisplay  -->
				<%- include ('dataDisplay') %>
			</div>
		</div>


		  
	</section>
	

