<!-- views/partials/dataDisplay.ejs  -->		
<!-- this file contains the modules used in the data display design -->


                <div class="layout">
                    <!-- Text module  -->
                    <div id="text" class="moduleContainer">
                        <div class="labeledBox text">
                            <!-- labels and tabs go here if find you need them, they are already
                            flexed and styled so they just need to be inserted-->
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <!-- Note -->
                            <div class="editableTextContainer">
                                <!-- text area for free note  -->
                                <textarea id="editableText" class="editableText">Patient with long-standing hyperlipidemia and DM2, now with CKD stage III and MI in 2018. Currently on beta-blockers, diuretics</textarea>
                                <!-- copy textarea button  -->
                                <button class="copyButton" onclick="copyFunction()" onmouseout="outFunc()">
                                    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span><i class="fas fa-copy"></i></button>
                            </div>
                        </div>
                    </div>   

                    <!-- Note module-->
                    <div id ="note" class="moduleContainer">
                        <div class="labeledBox note">
                            <!-- label & Tabs -->
                            <div class="labelContainer">
                                <div class="label">Note Type</div><!--AUTOGEN THIS -->
                                <ul class="tabrow">
                                    <li><a href="javascript:rudrSwitchTab('tb_1', 'content_1');" id="tb_1" class="tabmenu active">Date</a></li><!--AUTOGEN THIS -->
                                    <li><a href="javascript:rudrSwitchTab('tb_2', 'content_2');" id="tb_2" class="tabmenu">Date</a></li><!--AUTOGEN THIS -->
                                </ul>
                            </div>
                            <!-- Note -->
                            <div class="displayTextContainer">
                                <!-- NEXT STEP IS TO LEARN HOW TO READ IN DATA 
                                and figure out how to call on each individual content, while 
                                remaining dynamic 
                                Each note needs to have a unique ID that needs to be called by the modal (in body.ejs)
                                how to do this I am still unsure-->
                                <div id="content_1" class="tabcontent"> 
                                    <article class="displayText content">
                                        Final Diagnosis: Atherosclerotic Heart Disease with Acute Ischemia of the Left Anterior Coronary Artery
                                        <br/>
                                        Procedure: Left coronary catheterization with drug eluting stent placement
                                        <br/>
                                        Hospital Course:
                                        71 year old white female presented with acute left jaw pain.  EKG demonstrated STEMI in the anterior wall.  Patient treated per protocol and admitted to the general floor.  Cardiology and nephrology were consulted (due to GFR  less than 65). Patient gradually improved and catheterization performed on day 2 of hospitalization.  Patient was started on Plavix 75mg and aspirin 81mg and otherwise continued on home medications.  Patient was discharged on day 5 on room air.
                                        <br/>
                                        Discharge Instructions:
                                        Follow up with primary care physician in one month.  Follow up with nephrology and cardiology as scheduled.  Regular diet.  Activity as tolerated but instructed to avoid exertion.
                                    </article>
                                </div> 
                                <div id="content_2" class="tabcontent" style="display:none;">
                                    <article class="displayText content">
                                        Procedure: Left coronary catheterization with drug eluting stent placement
                                        <br/>
                                        Hospital Course:
                                        71 year old white female presented with acute left jaw pain.  EKG demonstrated STEMI in the anterior wall.  Patient treated per protocol and admitted to the general floor.  Cardiology and nephrology were consulted (due to GFR  less than 65). Patient gradually improved and catheterization performed on day 2 of hospitalization.  Patient was started on Plavix 75mg and aspirin 81mg and otherwise continued on home medications.  Patient was discharged on day 5 on room air.
                                        <br/>
                                        Discharge Instructions:
                                        Follow up with primary care physician in one month.  Follow up with nephrology and cardiology as scheduled.  Regular diet.  Activity as tolerated but instructed to avoid exertion.
                                    </article>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- Lists modules (procedure)-->
                    <div id="procedure" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <p class="temp">Procedure List</p>
                            </div>
                        </div>
                    </div>

                    <!-- Lists modules 2 (lab)-->
                    <div id="labs" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <div class="temp">Labs</div>
                            </div>
                        </div>
                    </div>

                    <!-- Lists modules 4 (social)-->
                    <div id="social" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <p class="temp">Social Determinants of Health</p>
                            </div>
                        </div>
                    </div>
              
                    <!-- Lists modules 3 (meds)-->
                    <div id="meds" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <p class="temp">Medication List</p>
                            </div>
                        </div>
                    </div>

                    <!-- Graphs module-->
                    <div id="graphs" class="moduleContainer graphModule">
                            <!-- time scale for graphs  -->
                            <div class="timeScaleContainer">
                                <div class="scale">time scale goes here</div>
                            </div>

                            <!-- Begin panel of 6 graphs  -->
                            <div class="panelOfGraphs">
                                <!-- Graph 1 -->
                                <div class="labeledBoxGraphs">
                                    <div class="labelContainerGraphs">
                                        <div class="labelGraphs">Stat Line 1</div>
                                    </div>

                                    <div class="graphContainer">
                                        <canvas id="myChart" class="chart"></canvas>
                                    </div>
                                </div>

                                <!-- Graph 2 -->
                                <div class="labeledBoxGraphs">
                                    <div class="labelContainerGraphs">
                                        <div class="labelGraphs">Stat Line 2</div>
                                    </div>

                                    <div class="graphContainer">
                                        <canvas class="chart"></canvas>
                                    </div>
                                    
                                </div>
                                
                                <!-- Graph 3 -->
                                <div class="labeledBoxGraphs">
                                    <div class="labelContainerGraphs">
                                        <div class="labelGraphs">Stat Line 3</div>
                                    </div>

                                    <div class="graphContainer">
                                        <canvas class="chart"></canvas>
                                    </div>
                                </div>

                                <!-- Graph 4 -->
                                <div class="labeledBoxGraphs">
                                    <div class="labelContainerGraphs">
                                        <div class="labelGraphs">Stat Line 4</div>
                                    </div>

                                    <div class="graphContainer">
                                       <canvas class="chart"></canvas>
                                    </div>
                                </div>

                                <!-- Graph 5 -->
                                <div class="labeledBoxGraphs">
                                    <div class="labelContainerGraphs">
                                        <div class="labelGraphs">Stat Line 5</div>
                                    </div>

                                    <div class="graphContainer">
                                        <canvas class="chart"></canvas>
                                    </div>
                                </div>

                                <!-- Graph 6 -->
                                <div class="labeledBoxGraphs">
                                    <div class="labelContainerGraphs">
                                        <div class="labelGraphs">Stat Line 6</div>
                                    </div>

                                    <div class="graphContainer">
                                        <canvas class="chart"></canvas>
                                    </div>
                                </div>
                            </div>
              
                     </div>
            
                
               


