<!-- views/partials/dataDisplay.ejs  -->		
<!-- this file contains the modules used in the data display design -->
            <div class="grid-row">
                <!-- Free text note module  -->
                <div class="moduleContainer grid-item text">
                    <div class="labeledBox">
                        <!-- label & Tabs -->
                        <!-- <div class="labelContainer">
                            <div class="label">Label Here</div>
                        </div> -->
                        <!-- Note -->
                        <div class="editableTextcontainer">
                            <textarea rows="4" class="editableText">Patient with long-standing hyperlipidemia and DM2, now with CKD stage III and MI in 2018. Currently on beta-blockers, diuretics</textarea>
                        </div>
                    </div>
                </div>

				<!-- Uneditable Note module-->
				<div class="moduleContainer grid-item note">
                    <div class="labeledBox">
                        <!-- label & Tabs -->
                        <div class="labelContainer">
                            <div class="label">Label Here</div>
                        </div>
                        <!-- Note -->
                        <div class="displayTextContainer">
                            <!-- NEXT STEP IS TO LEARN HOW TO READ IN DATA  -->
                            <article class="displayText">
                            Patient Name: Betty Franks
                            <br>
                            Medical Record Number: 999999999
                            <br>
                            Admission Date: 7/26/2018
                            <br>
                            Discharge Date: 7/31/2018
                            <br/>
                            Attending Physician: Dr. Somgai
                            <br/>
                            Primary Care Physician: Dr. Mitchell
                            <br/>
                            Consulting Physicians: Dr. Goodman, Nephrology, Dr. Halakis, Cardiology
                            <br/>
                            Condition on discharge: stable
                            <br/>
                            Final Diagnosis: Atherosclerotic Heart Disease with Acute Ischemia of the Left Anterior Coronary Artery
                            <br/>
                            Procedure: Left coronary catheterization with drug eluting stent placement
                            <br/>
                            Hospital Course:
                            71 year old white female presented with acute left jaw pain.  EKG demonstrated STEMI in the anterior wall.  Patient treated per protocol and admitted to the general floor.  Cardiology and nephrology were consulted (due to GFR  less than 65). Patient gradually improved and catheterization performed on day 2 of hospitalization.  Patient was started on Plavix 75mg and aspirin 81mg and otherwise continued on home medications.  Patient was discharged on day 5 on room air.
                            <br/>
                            Discharge Instructions:
                            Follow up with primary care physician in one month.  Follow up with nephrology and cardiology as scheduled.  Regular diet.  Activity as tolerated but instructed to avoid exertion.
                            </article>
                        </div>
                    </div>
                </div>

                <!-- lists modules-->
				<div class="moduleContainer grid-item list">
                    <div class="labeledBox">
                        <!-- <div class="labelContainer">
                            <div class="label">Label Here</div>
                        </div> -->

                        <div class="listContainer">
                        </div>
                    </div>
                </div>

				<!-- graphs module-->
				<div class="moduleContainer grid-item graphs">
                    <!-- Begin panel of 6 graphs  -->
                    <div class="panelOfGraphs">
                        <!-- Graph 1 -->
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="graphContainer">
                                <!-- <canvas id="myAntiHypertensiveChart" style= "width:100%; height: 100%;" class="chart"></canvas> -->
                            </div>
                        </div>

                        <!-- Graph 2 -->
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="graphContainer">
                                <!-- <canvas id="myBPChart" style= "width:100%; height: 100%;" class="chart"></canvas> -->
                            </div>
                        </div>

                        <!-- Graph 3 -->
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="graphContainer">
                                <!-- <canvas id="myBPChart" style= "width:100%; height: 100%;" class="chart"></canvas> -->
                            </div>
                        </div>

                        <!-- Graph 4 -->
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="graphContainer">
                                <!-- <canvas id="myBPChart" style= "width:100%; height: 100%;" class="chart"></canvas> -->
                            </div>
                        </div>

                        <!-- Graph 5 -->
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="graphContainer">
                                <!-- <canvas id="myBPChart" style= "width:100%; height: 100%;" class="chart"></canvas> -->
                            </div>
                        </div>

                        <!-- Graph 6 -->
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="graphContainer">
                                <!-- <canvas id="myBPChart" style= "width:100%; height: 100%;" class="chart"></canvas> -->
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                
               


