<!-- views/partials/dataDisplay.ejs  -->		
<!-- this file contains the modules used in the data display design -->


                <div id="layout" class="layout">
                    <!-- Text module  -->
                    <div id="text" class="moduleContainer text">
                        <div class="labeledBox text">
                            <!-- labels and tabs go here if find you need them, they are already
                            flexed and styled so they just need to be inserted-->
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <!-- Note -->
                            <div class="editableTextContainer">
                                <!-- text area for free note  -->
                                <textarea id="editableText" class="editableText">Patient with long-standing hyperlipidemia and DM2, now with CKD stage III and MI in 2018. Currently on beta-blockers, diuretics</textarea>
                                <!-- copy textarea button  -->
                                <button class="copyButton" onclick="copyFunction()" onmouseout="outFunc()">
                                    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span><i class="fas fa-copy"></i></button>
                            </div>
                        </div>
                    </div>   

                    <!-- Note module-->
                    <div id ="note" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- label & Tabs -->
                            <div class="labelContainer">
                                <div id="noteName" class="label">Clinican Notes</div>

                                <ul class="tabrow">
                                    <li><a href="javascript:rudrSwitchTab('tb_1', 'content_1');" id="tb_1" class="tabmenu active">Date</a></li>
                                    <li><a href="javascript:rudrSwitchTab('tb_2', 'content_2');" id="tb_2" class="tabmenu">Date</a></li>
                                    <li><a href="javascript:rudrSwitchTab('tb_3', 'content_3');" id="tb_3" class="tabmenu">Date</a></li>
                                    <li><a href="javascript:rudrSwitchTab('tb_4', 'content_4');" id="tb_4" class="tabmenu">Other</a></li>
                                </ul>
                            </div>
                            <!-- Note -->
                            <div class="displayTextContainer">

                                <div id="content_1" class="tabcontent" style="display:block;">
                                    <!-- <span id="notename1"></span> -->
                                    <p><span id="insertContent1" class="content"></span>
                                    <a href="#modal1" rel="modal:open" class="read-more">Read more &raquo;</a></p>
                                </div> 

                                <div id="content_2" class="tabcontent" style="display:block;visibility:hidden;">
                                    <!-- <span id="notename1"></span> -->
                                    <p><span id="insertContent2" class="content"></span>
                                    <a href="#modal2" rel="modal:open"class="read-more">Read more &raquo;</a></p>
                                </div>
                                <div id="content_3" class="tabcontent" style="display:block;visibility:hidden;">
                                    <!-- <span id="notename1"></span> -->
                                    <p><span id="insertContent3" class="content"></span>
                                    <a href="#modal3" rel="modal:open" class="read-more">Read more &raquo;</a></p>
                                </div>
                                <div id="content_4" class="tabcontent" style="display:block;visibility:hidden;">
                                    <!-- <span id="notename1"></span> -->
                                    <!-- <p><span id="insertContent4" class="content"></span>
                                    <a href="#/" class="read-more">Read more &raquo;</a></p> -->
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- Lists modules (procedure)-->
                    <div id="procedure" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <p class="temp">Procedure List</p>
                            </div>
                        </div>
                    </div>

                    <!-- Lists modules 2 (lab)-->
                    <div id="labs" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <div class="temp">Labs</div>
                            </div>
                        </div>
                    </div>

                    <!-- Lists modules 4 (social)-->
                    <div id="social" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <p class="temp">Social Determinants of Health</p>
                            </div>
                        </div>
                    </div>
              
                    <!-- Lists modules 3 (meds)-->
                    <div id="meds" class="moduleContainer">
                        <div class="labeledBox">
                            <!-- <div class="labelContainer">
                                <div class="label">Label Here</div>
                            </div> -->

                            <div class="listContainer">
                                <p class="temp">Medication List</p>
                            </div>
                        </div>
                    </div>

                    <!-- Graphs module-->
                    <div id="graphs" class="moduleContainer graphModule">
                        <!-- Begin panel of 6 graphs  -->
                        <div class="panelOfGraphs">
                            <!-- Graph 1 -->
                            <div class="graphLabelBox">
                                <div class="labelContainerGraphs">
                                    <div class="labelGraphs top">top</div>
                                </div>
                                <div class="labelContainerGraphs">
                                    <div id="name1" class="labelGraphs">Stat Line 1</div>
                                </div>
                                <div class="labelContainerGraphs">
                                    <div id="name2" class="labelGraphs">Stat Line 2</div>
                                </div>
                                <div class="labelContainerGraphs">
                                    <div id="name3" class="labelGraphs">Stat Line 3</div>
                                </div>
                                <div class="labelContainerGraphs">
                                    <div id="name4" class="labelGraphs">Stat Line 4</div>
                                </div>
                                <div class="labelContainerGraphs">
                                    <div id="name5" class="labelGraphs">Stat Line 5</div>
                                </div>
                                <div class="labelContainerGraphs">
                                    <div id="name6" class="labelGraphs">Stat Line 6</div>
                                </div>
                            </div>
                        
                            <!-- Graph 2 -->
                            <div class="graphBox">
                                <!-- time scale for graphs  -->
                                <div class="graphContainer">
                                    <canvas id="time" class="chart"></canvas>
                                </div>
                                <div class="graphContainer">
                                    <canvas id="chart1" class="chart"></canvas>
                                </div>
                                <div class="graphContainer">
                                    <canvas id="chart2" class="chart"></canvas>
                                </div>
                                <div class="graphContainer">
                                    <canvas id="chart3" class="chart"></canvas>
                                </div>
                                <div class="graphContainer">
                                    <canvas id="chart4" class="chart"></canvas>
                                </div>
                                <div class="graphContainer">
                                    <canvas id="chart5" class="chart"></canvas>
                                </div>
                                <div class="graphContainer">
                                    <canvas id="chart6" class="chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
                
               


