<!-- views/partials/head.ejs  -->
<!-- This file contains the head for the problem dashboard application. Step 2 -->

<meta charset="utf-8">

	<!-- Page title -->
	<title>Problem Dashboard Application</title>
	<meta name="description" content="Fill in later">
  	<meta name="author" content="Alexandria Juarez">
	<meta http-http-equiv="x-ua-compatible" content="ie-edge">
	<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">

	<!-- 
			Google Fonts - https://fonts.google.com/
		-->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<!-- 
			Font Awesome Icons - https://fontawesome.com/
		-->
	<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
		integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous">
	</script>

	<!-- 
            Style Sheets
        -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">

	<!--[if lte IE 9]>
					<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

	<!-- bootstrap --> 
	<!-- Make sure that you actually need this, right now its just making things look pretty -->
	<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<!-- Remember to include jQuery :) -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script> -->

	<!-- jQuery Modal - https://jquerymodal.com/ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

	<link rel="stylesheet" href="css/modalStyles.css">

	






