<!-- views/partials/head.ejs  -->
<!-- This file contains the head for the problem dashboard application. Step 2 -->

<meta charset="utf-8">

	<!-- Page title -->
	<title>Problem Dashboard Application</title>
	<meta name="description" content="Fill in later">
  	<meta name="author" content="Alexandria Juarez">
	<meta http-http-equiv="x-ua-compatible" content="ie-edge">
	<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">

	<!-- 
			Google Fonts - https://fonts.google.com/
		-->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<!-- 
			Font Awesome Icons - https://fontawesome.com/
		-->
	<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
		integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous">
	</script>

	<!-- 
            Style Sheets
        -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/styles.css">

	<!--[if lte IE 9]>
					<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->



	<!-- WILL NEED TO ADD ALL OF THESE AS DEPENDANCIES AT SOME POINT: There are also some in footer.ejs.
	Because these dependancies are not preloaded into the project at this point it will not run without the internet until you add them to your node_modules file-->
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- bootstrap --> 
	<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	
	<!-- jQuery Modal - https://jquerymodal.com/ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


	<!-- overrides for jquery modal, i know i shouldnt have done it this way, i'm sorry -->
	<link rel="stylesheet" href="css/modalStyles.css">

	<!-- Chart.js (graphs) https://www.chartjs.org/ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
	<script src= "https://s3.us-east-2.amazonaws.com/chart.jsnew/Chart.Bands.js" ></script>

	<!-- moment.js(time stuff)  https://github.com/moment-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>

	<!-- <tabulator (tables) http://tabulator.info/docs/4.5/style -->
	<link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>


	<!-- simpleBar (pretty scroll bar) https://github.com/Grsmto/simplebar/tree/master/packages/simplebar-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
	<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>