<!-- This file is the skeleton for the problem dashboard. Step 1-->
<!DOCTYPE html>
<html lang="en">
	<!--
		Problem Dashboard
		Ajjuarez 
		1/23/2020
		This file contains the Problem Dashboard application 
	-->

	<head>
		<!-- calling the head file -->
		<%- include ('partials/head') %>
	</head>

	<body>
		<!-- calling the body file -->
		<%- include ('partials/body') %>

		<!-- calling the footer file -->
		<%- include ('partials/footer') %>

	</body>

</html>