<!-- This file is the skeleton for the problem dashboard. Step 1-->
<!DOCTYPE html>
<html lang="en">
	<!--
		Problem Dashboard
		Ajjuarez 
		1/23/2020
		This file contains the Problem Dashboard application 
	-->

	<head>
		<!-- calling the head file -->
		<%- include ('partials/head') %>
	</head>

	<body>
		<!-- calling the body file -->
		<%- include ('partials/body') %>

		<!-- calling the footer file -->
		<%- include ('partials/footer') %>


		<!-- <div id="lab_table">

		</div>
		<div id="lab_table2">

		</div> -->
	</body>

<script>
// // Read in CSVs 
// var url="storedFiles/labs.csv"
// var request = new XMLHttpRequest();  
// request.open("GET", url, false);   
// request.send(null);  

// var csvData = new Array();
// var jsonObject = request.responseText.split(/\r?\n|\r/);
// for (var i = 0; i < jsonObject.length; i++) {
//   csvData.push(jsonObject[i].split(','));
// }
// // Retrived data from csv file content
// console.log(csvData[1][1]);
// $('#lab_table').html(csvData[1][1]);


// // Read in CSVs 
// var url="storedFiles/labvalues.csv"
// var request = new XMLHttpRequest();  
// request.open("GET", url, false);   
// request.send(null);  

// var csvData = new Array();
// var jsonObject = request.responseText.split(/\r?\n|\r/);
// for (var i = 0; i < jsonObject.length; i++) {
//   csvData.push(jsonObject[i].split(','));
// }
// // Retrived data from csv file content
// console.log(csvData[1][1]);
// $('#lab_table2').html(csvData[1][1]);
</script>	
</html>