/* ======================
   General Page Structure
   ====================== */

/* box model */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* browser upgrade prompt */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Hides element used for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* entire body stylings */
body,
html {
  font-family: 'Roboto', sans-serif;
}

/* IMAGES*/
/* img {
  width: 100%;
  display: block;
} */

/* Links */
/* a,
a:hover,
a:active,
a:visited {
  color: gray;
} */

/* clearfix - in case you decide to float elements */
/* .group::after {
  content: "";
  display: table;
  clear: both;
} */




/* ====================================================
This container below only exists to constrain the 
interface. Applies a width and height to the interface.
This means that in implimentation, these containers are needed to constrain
the application with the following features. 
Width and height can be adjusted to suit the needs of the
surrounding software. An example of implimentation can be seen in the index.html file
======================================================= */
/* .whitespace .container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
} */

/* .whitespace .interface {
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  margin: 10px;
  min-width: 350px;
  width: 100%;
  background-color: white;
  position: relative;
} */






/* ============================
   Menu at the top of interface
   ============================ */

/* Styling for the option menu container */
.optionBar {
  border: 1px solid #ccc;
  border-left: none;
  border-bottom: 1px solid #E8E8E8;
  background-color: #E8E8E8;
  font-size: 12px;
  overflow: hidden;
  position: fixed;
  width:100%;
  z-index: 1;
  top: 0;
  left: 0;
}

/*responsive menu button icons do not show when 
screen width is narrow*/
.butIcon {
  display: none;
}

/*Styling for the menu buttons*/
.optionBar button,
.optionBar .searchContainer {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  transition: 0.3s;
  min-width: 80px;
  color: grey;
  margin: auto 0;
  position: relative;
}

/* styling for the menu links */
.optionBar a {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  transition: 0.3s;
  min-width: 30px;
  color: grey;
  margin: auto 0;
  position: relative;
  text-align: center;

}

/* Elipsis toggle, only shown in small width*/
.optionBar .icon {
  display: none;
}

/* Lines between the option buttons */
.optionBar button:after,
.optionBar .searchContainer:after {
  content: "";
  height: 18px;
  position: absolute;
  border: 1px solid silver;
  right: 0%;
  top: 8px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  z-index: 1;
  transition: 1s;
}

.optionBar button.active:after,
.optionBar .searchContainer.active:after {
  border: none;
}

.optionBar button.active:before,
.optionBar .searchContainer.active:before {
  content: "";
  height: 40px;
  position: absolute;
  border: 2px solid #E8E8E8;
  left: -2%;
  bottom: auto;
  border-top: none;
  border-right: none;
  border-bottom: none;
  z-index: 7;
  transition: 1s;
}

/* Change background color of buttons on hover*/
.optionBar button:hover,
.optionBar .searchContainer:hover {
  background-color: #F0F0F0;
  border-radius: 19px;
}

.optionBar a:hover {
  background-color: #F0F0F0;
  border-radius: 15px;
}

/* Create an active/current class for buttons*/
.optionBar button.active,
.optionBar .searchContainer.active {
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  margin-top: 0px;
  padding-bottom: 12px;
}

/*div containing the large view buttons*/
.optionBar .displayOptions {
  display: flex;
  justify-content: flex-end;
  /* background-color: green; */
  width: 100%;
}

/* div containing the small view buttons */
.optionBar .displayOptions2 {
  display: flex;
  justify-content: flex-end;
  color: black;
}

/* refresh button link and icon  */
.refresh {
  float: right;
  display: block;
  padding: 10px 10px 0;
}

/* div containing the large and small view buttons */
.align {
  display: flex;
  /* background-color: orange; */
  justify-content: flex-end;
  margin-top: 2px;

}

/* ICD10 Search bar */
.searchbox {
  font-size: 11px;
  align-items: center;
  /* width:100%; */
  margin: auto;
  /* min-width: 200px; */
  display: flex;
  width: 100%;
}

/* Search bar styles */
.searchForm {
  width: 100%;
}
.searchContainer {
  width: 60%;
}




/* ======================
   Main Display Container
   ====================== */
#displayAndAccordionContainer {
  /* border: 1px solid #eff0f1; use if needed*/ 
  overflow: hidden;
  display: block;
  width:100%;
  height:100%;
  margin: 35px auto 0px;
  /* Might need to change the 40px padding when putting into an accordion */
  padding: 5px;
}

/* ================
   Module Container
   ================*/
.moduleContainer{
  width: 98%;
  margin: 10px auto;
}


/* =============
   Module Labels
   ============= */

   /* .labeledBox {
    background-color: lime;
  } */

  .labelContainer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: relative;
    justify-content: space-between;
    /* uncomment ^^If you want the buttons on the end^^^ */
  }
  
  .label {
    color: grey !important;
    font-size: 15px !important;
    font-weight: 100 !important;
    padding: 0px 0px 2px 0px !important;
  }


/* ====================
   Editable Note Module
   ==================== */
/* editable note container  */
/* .editableTextContainer{
  not sure if needed
} */

/*editable text area */
.editableText {
  display: block;
  width: 100%;
  /* overflow-y: scroll; */
  resize: none;
  font-size: 12px;
  margin: auto;
}


/* ===================
   Display Note Module
   =================== */
/* display note container */
.displayTextContainer {
  background-color: #F5F5F5;
  border: 1px solid grey;
}

/* display text area  */
.displayText {
  display: block;
  width: 100%;
  font-size: 12px;
  margin: auto;
  padding:5px 5px 0px 5px;
  overflow: hidden;
}

/* more/less links */
.moreLess{
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
  color: lightseagreen !important;
}

.moreLess:hover{
  color: black;
}



/* ===========
   List Module
   ============ */

.listContainer {
  /* max-width: 400px; */
  height: 50px;
  position: relative;
  border: 1px solid grey; 
  /* overflow-y: scroll; */
}


/* ==============
   Graph Module
   ==============*/
.panelOfGraphs {
  margin:auto;
  display: flex;
  flex-flow: column wrap; 
}

.panelOfGraphs .labeledBox:not(:first-child) {
  margin-top: 10px;
}

.graphContainer {
  /* max-width: 400px; */
  height: 50px;
  position: relative;
  overflow: hidden;
  border: 1px solid grey;
}



/* ======================
   Colored box displaying 
   the screen size
   remove after devel
   ====================== */
.SIZE {
  width: 20px;
  height: 20px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: red;
  z-index: 10;
}

.SIZE:after {
  content: "XS";
  color: #000;
}




/* ==============
    Media Queries
   ============== */
/* X-Small devices (portait phones, less than 576px) */
/* All styles up to this point in the stylesheet are for X-Small */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .searchContainer {
    width: 50%;
  }

  .butIcon{
    display: inline;
  }

/* ======================
   Colored box displaying 
   the screen size
   remove after devel
   ====================== */
  .SIZE {
    width: 25px;
    height: 20px;
    background-color: blue;
  }
  .SIZE:after {
    content: "SM";
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .searchContainer {
    width: 40%;
  }


/* ======================
   Colored box displaying 
   the screen size
   remove after devel
   ====================== */
  .SIZE {
    width: 34px;
    height: 20px;
    background-color: green;
  }
  .SIZE:after {
    content: "MED";
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .butIcon {
    display: inline;
  }

  .optionBar button {
    min-width: 60px;
  }

/* ======================
   Colored box displaying 
   the screen size
   remove after devel
   ====================== */
  .SIZE {
    width: 20px;
    height: 20px;
    background-color: yellow;
   }
  .SIZE:after {
    content: "LG";
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



/* ======================
   Colored box displaying 
   the screen size
   remove after devel
   ====================== */
  .SIZE {
    width: 20px;
    height: 20px;
    background-color: pink;
  }

  .SIZE:after {
    content: "XL";
  }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 576px) {

  /* .optionBar.responsive {
    position: relative; 
  } */
  .optionBar button {
    display: none;
  }

  .optionBar a.icon {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .optionBar.responsive button {
    float: none;
    display: block;
    width: 100%;
  }

  .optionBar.responsive .displayOptions {
    display: inline-block;
    margin: 30px auto 0;
    position: fixed;
    z-index: 1;
    margin-top: 15;
    margin-left: -5px;
    width: 20%;
    background-color: white;
    border: 1px solid grey;
    -webkit-box-shadow: 11px 11px 4px -9px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 11px 11px 4px -9px rgba(0, 0, 0, 0.4);
    box-shadow: 11px 11px 4px -9px rgba(0, 0, 0, 0.4);
  }

  .optionBar button:after {
    border: none;
  }

  .optionBar button:hover {
    background-color: #F0F0F0;
    border-radius: 0px;
    color: black;
    border: black;
    width: 100%;
  }

  /* Create an active/current tablink class left container */
  .optionBar button.active {
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: black;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 12px;
  }
}